{% extends "layout.njk" %}
{% block head %}
    <title>About - RocketSeat</title>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <h1>RocketSeat</h1>
        <h2>Realizamos o desenvolvimento e a Hospedagem de Sites de pequenos empreendedores</h2>
        <h2>Também fazemos Gestão de Redes Sociais para que foques no que realmente importa: Seus produtos!</h2>
        <p>Quer saber mais?
            <a href="/contato">Clique aqui</a>
            e Fale conosco!</p>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}