{% block footer %}
<div id="links-footer" class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
    <a href="https://www.youtube.com/c/RocketSeat" target="_blank">YouTube</a>
</div>

{% endblock %}